<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 성공</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">회원가입 성공</h1>
    <p class="text-center" th:text="${message}">회원가입이 성공적으로 완료되었습니다.</p>
    <div class="text-center">
        <a href="/manager/login" class="btn btn-primary">로그인 페이지로 이동</a>
    </div>
</div>
</body>
</html>